.BreadBottom {
    height: 90px;
    width:400px;
    background-repeat: none;
    background: url('../../../assets/images/bread-bottom.png');
    margin: 0 auto;
}

.BreadTop {
    height: 144px;
    width: 400px;
    background-repeat: none;
    background: url('../../../assets/images/bread-top.png');
    margin: 0 auto;
    position: relative;
}

.Meat {
    height: 24px;
    width: 400px;
    background-repeat: none;
    background: url('../../../assets/images/meat.png');
    margin: 0 auto;
    z-index: 30;
}

.Cheese {
   height: 24px;
   width: 400px;
   background-repeat: none;
   background: url('../../../assets/images/cheese.png');
   margin: 0 auto;
}

.Salad {
   height: 24px;
   width: 400px;
   background-repeat: none;
   background: url('../../../assets/images/lettuce.png');
   margin: 0 auto;
}

.Bacon {
   height: 24px;
   width: 400px;
   background-repeat: none;
   background: url('../../../assets/images/bacon.png');
   margin: 0 auto;
}
